@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  .clipEllipse {
    clip-path: ellipse(50% 100% at 50% 0%);
  }
}

@layer base {
  html {
    font-family: "PT Serif", system-ui, sans-serif;
    font-size: 85% !important;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
  }

  .scrollbar-horizontal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .scrollbar-horizontal::-webkit-scrollbar {
    height: 10px;
    background-color: #f5f5f5;
  }

  .scrollbar-horizontal::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
  }
}
